<link href="https://fonts.googleapis.com/css2?family=Frijole&display=swap" rel="stylesheet">

<nav>
    <!-- LEFT SIDE -->
    <div class="nav-left">
        <span class="logo-text">VaqueroConnect</span>
    </div>

    <!-- RIGHT SIDE -->
    <div class="nav-right">

        <!-- Always show Home -->
         {% if request.resolver_match.url_name != 'home' %}
        <a href="{% url 'main_home' %}">Home</a>
        {% endif %}
        {% if request.user.is_authenticated %}
            <a href="{% url 'profile' %}">User</a>
            <a href="{% url 'logout' %}">Logout</a>

        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}

    </div>
</nav>

<style>
    nav {
        background-color: #d14003;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between; /* LEFT and RIGHT separated */
        align-items: center;
    }

    .logo-text {
        font-family: 'Frijole', cursive;
        font-size: 28px;
        color: white;
        letter-spacing: 2px;
    }

    .nav-right a {
        color: white;
        text-decoration: none;
        margin-left: 20px;
        font-size: 18px;
        transition: color 0.3s ease;
    }

    .nav-right a:hover {
        color: #2c2a27;
    }
</style>