{% extends 'base.html' %}
{% load static %}
{% block title %}{{ user.username}}'s Profile{% endblock %}

{% block content %}
<div class = "profile-container">

    <!-- Header -->
    <div class = "profile-header">
        <img src="{{ profile_user.profile.profile_picture.url }}" class="profile-pic">

        <div class = "profile-info">
            <h2>{{ profile_user.username }}</h2>
            <p class = "bio">{{ profile_user.profile.bio|default:"No bio provided" }}</p>
            <p class="enrolled"> Campus {{ profile_user.profile.enrolled }}</p>
        </div>

        {% if request.user == profile_user %}
            <a href="{% url 'edit_profile' %}" class="edit-btn header-edit">Edit</a>
        {% endif %}
    </div>

    <!-- Stats -->
     <div class="profile-stats">
        <div class ="stat-box">
            <span class="stat-number">{{ posts_count }}</span>
            <span class="stat-label">Posts</span>
        </div>

        <div class="stat-box">
            <span class="stat-number">{{ followers_count }}</span>
            <span class="stat-label">Followers</span>
        </div>
     </div>

     <!-- Posts -->
      <h3 class="section-title">Your Posts</h3>

      <div class="posts-grid">
            {% for post in posts %}
                <div class="post-card">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="post-image">
                    {% endif %}
                    <p>{{ post.content }}</p>
                    <span class="timestamp">{{ post.created_at }}</span>
                </div>
            {% empty %}
                <p>No posts yet</p>
            {% endfor %}
</div>

    <!-- Edit Profile -->
    <!--- <a href="{% url 'edit_profile' %}" class="edit-btn"> Edit</a> -->


{% endblock %}
