<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<section class="login-section">
  <div class="login-box">
    <form method="POST" action="{% url 'register' %}">
      {% csrf_token %}
      <h2>Sign Up</h2>
      <div class="input-box">
        <input type="email" name="email" required pattern=".+@utrgv\.edu" title="Email must end with @utrgv.edu">
        <label>Email</label>
      </div>
      <div class="input-box">
        <input type="text" name="username" required>
        <label>Username</label>
      </div>
      <div class="input-box">
        <input type="password" name="password1" required>
        <label>Password</label>
      </div>
      <div class="input-box">
        <input type="password" name="password2" required>
        <label>Confirm Password</label>
      </div>
      <button type="submit">Register</button>
      <div class="register-link">
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
      </div>
      {% if messages %}
      <div class="errors">
        {% for message in messages %}
          <p class="error-text">{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </form>
  </div>
</section>
</body>
</html>
