{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'feeds.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<div class="container mt-4">

    <h3 class="mb-4 fw-bold">Messages</h3>

    {% for user in users %}
    <a href="{% url 'chat' user.id %}" class="inbox-item">

        <!-- REAL PROFILE PIC -->
        <img src="{{ user.profile.image.url }}" class="profile-pic-global profile-pic-md">


        <span class="inbox-username">{{ user.username }}</span>

        <i class="bi bi-chevron-right inbox-arrow"></i>

    </a>
    {% empty %}
        <p class="text-muted">No users available.</p>
    {% endfor %}

</div>

{% endblock %}
